.signIn {
  display: grid;
  place-items: center;

  height: 100%;
  background-color: #000;

  background-size: cover;
  background-position: center;
  background-image: url('../../../assets/images/sign-in-bg.jpg');

  .signInForm {
    width: 500px;
    opacity: 0.5;
    height: 500px;
    border-radius: 6px;
    background-color: #fff;
  }
}
