.signUp {
  display: grid;
  place-items: center;

  height: 100%;
  padding: clamp(16px, 5vw, 32px);

  background-size: cover;
  background-color: #000;
  background-position: center;
  background-image: url('../../../assets/images/6K/598657-brunette-female-workout-fitness-gym-5K.jpg');

  .content {
    display: flex;

    border-radius: 6px;
    background-color: #1a1a1a92;
    box-shadow: inset 0 0 10px -2px #b052c0;
  }
}
