.main {
  grid-area: main;

  &.common {
    display: grid;
    grid-template-rows: auto 1fr 200px;
    grid-template-areas:
      'navigation'
      'content'
      'footer';
  }

  .content {
    border: 5px dashed orange;

    grid-area: content;

    &.common {
    }

    &.authentication {
      padding: 0;
      height: 100%;
    }
  }
}
