.main {
  grid-area: main;

  &.common {
    display: grid;
    gap: var(--gutter-m);
    grid-template-rows: fit-content 1fr fit-content;
    grid-template-areas:
      'navigation'
      'content'
      'footer';
  }

  .content {
    grid-area: content;

    &.common {
    }

    &.authentication {
      padding: 0;
      height: 100%;
    }
  }
}
