.app {
  position: absolute;
  inset: 0;

  display: grid;

  &.common {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'main';
  }

  &.authentication {
    grid-template-rows: 1fr;
    grid-template-areas: 'main';
  }
}
