.landing {
  border: 5px dashed blueviolet;

  display: grid;
  gap: var(--gutter-m);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'carouselSection'
    'cardsSection';

  height: 100%;

  .carouselSection {
    grid-area: carouselSection;
  }

  .cardsSection {
    grid-area: cardsSection;
    height: 100%;

    display: grid;
    gap: var(--gutter-m);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
