.navBar {
  grid-area: navigation;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: var(--padding-m);

  .navLinks {
    display: flex;
    gap: var(--gutter-default);

    & > a {
      font-size: 1.5rem;
    }
  }
}
