.navBar {
  // border: 1px solid;

  grid-column: full-width;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 16px;
  height: 100px;

  .navLinks {
    display: flex;
    gap: 16px;

    & > a {
      font-size: 1.5rem;
    }
  }
}
