.navBar {
  // border: 1px solid;

  grid-column: full-width;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100px;
  padding: var(--padding-default);

  .navLinks {
    display: flex;
    gap: var(--gutter-default);

    & > a {
      font-size: 1.5rem;
    }
  }
}
